*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.prof-sec {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prof-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.logoutbtn {
    margin-left: 10px;
}


.card {
  max-width: 400px;
  margin: auto;
}

textarea.form-control {
  resize: none;
}

/* .card1{

  display: flex;
} */

.nav-link.active{
    font-weight: bold;  
    text-decoration: underline;
   text-underline-offset: 4px;
    border-bottom: 3px solid rgb(29, 28, 28);   
}