*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.prof-sec {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prof-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.logoutbtn {
    margin-left: 10px;
}


.card {
  max-width: 400px;
  margin: auto;
}

textarea.form-control {
  resize: none;
}


.nav-link.active-page {
  font-weight: bold;
  text-decoration: underline red;
}


.card {
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card h6 {
  font-size: 1rem;
}

.card p {
  font-size: 0.9rem;
}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.btn {
  transition: 0.2s ease;
}
.btn:hover {
  opacity: 0.9;
}
